- content_for :title do
  Packman

= inline_editable(:main)
#packman_wrap
  .header
    %h2 Controls
    &mdash;
    %em WASD: move, SPACE: pause, M: menu, N: stats
  %object#packman{ type: "application/x-java-applet" }
    %param{ name: "archive", value: "packApplet.jar" }
    %param{ name: "code", value: "packMan.PackApplet" }
    %param{ name: "permissions", value: "sandbox" }
    %p Java applet failed to load. Possible solutions:
    %ul
      %li Install Java 8 or above
      %li Use a browser that supports Java Applets
      %li
        Click
        = link_to 'here', '/packApplet.jar'
        to download the applet
