- content_for :title do
  Login

= form_for(:session, url: login_path) do |f|
  = f.text_field :email, placeholder: 'Email', title: 'Email'
  = f.password_field :password, placeholder: 'Password', title: 'Password'
  = f.submit 'Login'
