%h1 For the love of &lt;generic deity&gt;...
%p
  When the computer asks you if you want to update, click
  %span{ title: "I don't believe in putting unrelated punctuation into quotes." }> "Yes"
  \. Come back when you've become a real boy and/or girl.
%p
  = link_to 'Click me', 'http://browserupdate.org/update.html'
