- content_for :title do
  Diff

- version = @version.reify
- @object.paper_trail_tracked.each do |attribute|
  %h2= attribute
  = diff @object.send(attribute), version.send(attribute)
  = link_to 'Restore',
    admin_restore_version_path(@object_type, @object.id, @version.id),
    class: 'btn btn-danger', title: 'Restore'
  = link_to 'Cancel',
    admin_versions_path(@object_type, @object.id),
    class: 'btn btn-primary', title: 'Back'
