- content_for :title do
  Tags

= new_button :tag
%table.table
  %thead
    %tr
      %th Name
      %th Certifications
      %th Educations
      %th Occupations
      %th{ colspan: 2 } Projects
  %tbody
    = render @tags
