- content_for :title do
  Tags

= new_button :tag
%table.table
  %thead
    %tr
      %th Name
      %th.hidden-xs Certifications
      %th.hidden-xs Educations
      %th.hidden-xs Occupations
      %th.hidden-xs Projects
      %th
  %tbody
    = render @tags
