- content_for :title do
  Projects
= link_to new_project_path, class: 'btn btn-primary' do
  %span.glyphicon.glyphicon-plus{ aria: { hidden: true } }
  Add
%table.table
  %thead
    %tr
      %th Name
      %th{ colspan: 2 } Description
  %tbody
    = render @projects
