%tr
  %td
    - if post.private
      %span.glyphicon.glyphicon-lock{ title: 'private' }
  %td= can?(:read, post) ? post.title : censor(post.title)
  %td.hidden-xs.hidden-sm= can?(:read, post) ? post.slug : censor(post.slug)
  %td.right= render 'layouts/actions', object: post, include_show: true
