- content_for :title do
  Certifications

= link_to new_certification_path, class: 'btn btn-primary' do
  %span.glyphicon.glyphicon-plus{ aria: { hidden: true } }
  Add
%table.table
  %thead
    %tr
      %th Organization
      %th{ colspan: 2 } Name
  %tbody
    = render @certifications
