- content_for :title do
  Certifications

= new_button :certification
%table.table
  %thead
    %tr
      %th.hidden-xs Organization
      %th{ colspan: 2 } Name
  %tbody
    = render @certifications
