html {
  background-color: $background-color;
  color: $font-color;
  font-family: 'UbuntuMono';
  font-weight: normal;
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
}
body {
  font-size: 1em;
  margin: 0 0 $footer-height 0;
  padding: 0;
}
h1, h2, h3, h4, h5, p, ul, ol {
  margin: 0;
  padding-bottom: 20px;
}
ul, ol {
  padding-left: 40px;
}
li {
  padding-bottom: 5px;
}
h1 {
  font-size: 2em;
  margin: 20px 0;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
header {
  padding: $layout-padding;
  nav {
    margin: 0;
    overflow: hidden;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      float: left;
      list-style-type: none;
      margin: 0;
      padding: 0;
      a {
        border-left: 1px solid;
        color: white;
        display: block;
        padding: 0.25em 0.5em;
        text-decoration: none;
        &:visited {
          color: white;
        }
        &:hover {
          background-color: $unvisited;
          color: black;
        }
        &.selected {
          text-decoration: line-through;
        }
      }
      &:last-child {
        display: none;
      }
    }
  }
}

main {
  padding: $layout-padding;
}
footer {
  bottom: 0;
  box-sizing: border-box;
  height: $footer-height;
  left: 0;
  padding-top: 50px;
  position: absolute;
  width: 100%;
}
input {
  color: black;
}
.wrap {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}
.pull-right {
  text-align: right;
}
a {
  color: $unvisited;
  &:visited {
    color: $visited;
  }
  &.button {
    border: 2px solid;
    border-radius: 5px;
    color: $unvisited;
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    &:hover {
      background-color: $unvisited;
      color: $background-color;
    }

    &.alert {
      color: $visited;
      float: right;
      &:hover {
        background-color: $visited;
        color: $background-color;
      }
    }
  }
}
.left {
  float: left;
}
.right {
  float: right;
}

/*
 * Blinking Cursor
 */
.blinking-cursor {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
  &:after {
    content: "\258a";
  }
}
@keyframes "blink" {
  from, to { color: transparent; }
  50% { color: $font-color; }
}
@-moz-keyframes blink {
  from, to { color: transparent; }
  50% { color: $font-color; }
}
@-webkit-keyframes "blink" {
  from, to { color: transparent; }
  50% { color: $font-color; }
}
@-ms-keyframes "blink" {
  from, to { color: transparent; }
  50% { color: $font-color; }
}
@-o-keyframes "blink" {
  from, to { color: transparent; }
  50% { color: $font-color; }
}

@media screen and (max-width: $size-medium) {
  h1 {
    margin: 0;
  }
  header {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    nav {
      ul {
        li {
          display: none;
          &:first-child {
            display: inline-block;
          }
          &:last-child {
            float: right;
            display: inline-block;
          }
          a {
            border: none;
            padding: .75em;
          }
        }
      }
    }
    &.responsive nav {
      ul {
        position: relative;
      }
      li {
        &:not(:last-child) {
          display: inline;
          float: none;
        }
        &:last-child {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }
  footer {
    padding-top: 30px;
    .left, .right {
      float: none;
      padding-bottom: 20px;
    }
  }
  .no-mobile {
    display: none;
  }
}
