@font-face {
  font-family: 'UbuntuMono';
  src: font-url('UbuntuMono-R.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'UbuntuMono';
  src: font-url('UbuntuMono-RI.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: 'UbuntuMono';
  src: font-url('UbuntuMono-B.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
