#resume {
  .entry {
    overflow: auto;
    padding-bottom: 40px;
  }
  .heading {
    float: left;
    width: 60%;
  }
  .time {
    float: left;
    text-align: right;
    width: 40%;
  }
  .description {
    clear: both;
    ul {
      padding-bottom: 0;
    }
  }

  @media (max-width: 700px) {
    .heading, .time {
      width: 100%;
    }
    .time {
      text-align: left;
    }
  }
}
