- flash.each do |flash_type, message|
  %div{ class: "alert #{ bootstrap_class_for(flash_type) } alert-dismissible", role: 'alert' }
    %button.close{ type: 'button', data: { dismiss: 'alert' }, aria: { label: 'Close' } }
      %span{ aria: { hidden: true } } &times;
    = message
